<html>
  <head>
    <meta charset=utf-8>
    <title>四字熟語電脳遊戯</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script>
  </head>
  <body>
    <div id="app">
      <h2 id="difficulty">第{{ difficulty }}層</h2>
      <div id="message" v-if='server_message != ""'>{{ server_message }}</div>
      <div id="columns">
        <transition-group id="table" tag="div" name="swap">
          <div scope="row"
            class="cell"
            v-for="(char, index) in board"
            v-bind:key="char.i"
            :data-col-id="index"
            v-bind:style="index in styles ? styles[index] : null"
            v-on:click="click_char"
            v-bind:class="{ selected: !(selected === null) && selected == index || index in touching
              , finished: char.finished
              , spacer: index % 8 == 3 }">
            {{ char.c }}
          </div>
        </transition-group>
        <ul id="players">
          <li v-for="(player, name) in players"
            v-bind:style='{ borderColor: player.color }'
            class="player">
            <input class="name" v-if="player.id == my_id.toString()" type="text" placeholder="名前入力" v-model="my_name">
            <div v-else class="name">{{ name }}</div>
            <div class="score">
              {{ name in scoreboard ? scoreboard[name] : 0 }}
            </div>
          </li>
          <li v-for="(score, name) in scoreboard" v-if="!(name in players)" class="player">
            <div class="name">{{ name }}</div>
            <div class="score">
              {{ score }}
            </div>
          </li>
        </ul>
      </div>
      音量調節 <input type="range" min="0" max="10" v-model="volume">
      <div>
        <h2>更新記録</h2>
        <ul>
          <li>二月三日 酉の刻 - 配置を二列にしました</li>
          <li>二月三日 酉の刻 - 詰みになりうる問題が生成されないようになりました</li>
          <li>二月三日 酉の刻 - 点数が保存されるようになりました</li>
          <li>二月三日 酉の刻 - 選手が触れていた場所の枠線が消えない不具合を修正しました</li>
        </ul>
      </div>
      <div v-if="error !== null" id="error">
        {{ error }}
      </div>
      <footer>
        <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/rampaging-fridge/yojijukugo" data-icon="octicon-star" aria-label="Star rampaging-fridge/yojijukugo on GitHub">星</a>
      </footer>
    </div>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <audio src="/static/cymbal.mp3" id="a-cymbal"></audio>
    <audio src="/static/dora.mp3" id="a-dora"></audio>
    <audio src="/static/rei.mp3" id="a-rei"></audio>
    <audio src="/static/bell.mp3" id="a-bell"></audio>
    <audio src="/static/hihat.mp3" id="a-hihat"></audio>
    <audio src="/static/reverse-hihat.mp3" id="a-reverse-hihat"></audio>

    <script>
      const draggable = window['vuedraggable'];
      let scheme = location.protocol === 'https:' ? "wss://" : "ws://";
      let ws = new WebSocket(scheme + location.host + location.pathname);
      let app = new Vue({
        el: '#app',
        data: {
          board: {},
          scoreboard: {},
          selected: null,
          my_id: null,
          my_name: null,
          me: null,
          styles: {},
          players: {},
          touching: {},
          difficulty: 0,
          server_message: "",
          volume: 5,
          error: null,
        },
        watch: {
          my_name: function(val, oldVal) {
            $cookies.set("player_name", val);
            ws.send(JSON.stringify({SetPlayerName: val}));
          },
          volume: function(val, oldVal) {
            for (elem of document.getElementsByTagName("audio")){
              elem.volume = val / 10;
            };
            $cookies.set("volume", val);
            let sound = document.getElementById("a-rei");
            sound.currentTime = 0;
            sound.play();
          }
        },
        methods: {
          click_char: function(event) {
            let target = event.target.dataset.colId;
            if (this.board[target].finished){
              return;
            }
            let style = { outlineColor: this.me.color };
            if (this.selected === null) {
              this.selected = target;
              Vue.set(app.styles, target, style);
              ws.send(JSON.stringify({Touch: parseInt(target)}));

              let sound = document.getElementById("a-hihat");
              sound.currentTime = 0;
              sound.play();
            } else {
              if (target === this.selected)
              {
                let sound = document.getElementById("a-reverse-hihat");
                sound.currentTime = 0;
                sound.play();
                ws.send(JSON.stringify({Untouch: parseInt(target)}));
              }
              else {
                Vue.set(app.styles, target, style);
                ws.send(JSON.stringify({Swap: [parseInt(target), parseInt(this.selected)]}));

                let sound = document.getElementById("a-rei");
                sound.currentTime = 0;
                sound.play();
              }

              this.selected = null;

            }
          }
        },
        components: { draggable },
      });
      ws.addEventListener('message', event => {
        let obj = JSON.parse(event.data);
        if (obj === null) return;
        if ("PutBoard" in obj){
          app.scoreboard = obj.PutBoard.scoreboard;
          app.difficulty = obj.PutBoard.boardDifficulty;
          app.styles = {};
          let jukugos = obj.PutBoard.jukugos;
          app.board = jukugos.flatMap(function (jukugo){
            let result = jukugo[1].content;
            if (jukugo[1].finished) {
              for (elem of result) {
                elem.finished = true;
              }
            }
            let sound = document.getElementById("a-bell");
            sound.currentTime = 0;
            sound.play();
            return result});
        } else if ("PutPlayers" in obj) {
          let result = {};
          for (let elem of obj.PutPlayers){
            elem[1].id = elem[0];
            result[elem[1].name] = elem[1];
          }
          app.players = result;
        } else if ("PutScoreboard" in obj) {
          app.scoreboard = obj.PutScoreboard;
        } else if ("PutYou" in obj) {
          app.my_id = obj.PutYou[0];
          app.me = obj.PutYou[1];;
        } else if ("PutStatus" in obj) {
          app.server_message = obj.PutStatus;
        } else if ("LevelFinished" in obj) {
          let sound = document.getElementById("a-dora");
          sound.currentTime = 0;
          sound.play();
        } else if ("AckTouch" in obj) {
          let msg = obj.AckTouch;
          if (app.my_id === msg[0]) return;
          let style = { outlineColor: app.players[msg[0]].color };
          Vue.set(app.styles, msg[1], style);
          Vue.set(app.touching, msg[1], msg[0]);
        } else if ("AckUntouch" in obj) {
          let msg = obj.AckUntouch;
          let sender = msg[0];
          if (app.my_id === sender || !(msg[1] in app.touching)) return;
          if (sender == app.touching[msg[1]]) {
            app.$delete(app.touching, msg[1]);
          }
        } else if ("AckSwap" in obj) {
          let msg = obj.AckSwap;
          let orig = app.board[msg[1]];
          Vue.set(app.board, msg[1], app.board[msg[2]]);
          Vue.set(app.board, msg[2], orig);
          let style = { outlineColor: app.players[msg[0]].color };
          Vue.set(app.styles, msg[1], style);
          Vue.set(app.styles, msg[2], style);
          app.$delete(app.touching, msg[1]);
          app.$delete(app.touching, msg[2]);
          if (app.my_id !== msg[0]) {
            if (this.selected === msg[1]) { this.selected = msg[2] };
            if (this.selected === msg[2]) { this.selected = msg[1] };
          }
        } else if ("AckDone" in obj){
          let row = obj.AckDone;
          for (let i=row*4; i < row*4+4; i++){
            Vue.set(app.board[i], "finished", true);
          }
          let sound = document.getElementById("a-cymbal");
          sound.currentTime = 0;
          sound.play();
        } else {
          console.log(obj);
        }
      });

      ws.addEventListener('open', event => {
        ws.send("hello");

        app.my_name = $cookies.get("player_name");
        app.volume = $cookies.get("volume");

        function heartbeat(){
          ws.send(JSON.stringify({Heartbeat: []}));
          window.setTimeout(heartbeat, 2000.0);
        }
        heartbeat();

      });
      ws.onerror = event => { app.error = event.message };
      
    </script>
    
  </body>
</html>
