<html>
  <head>
    <meta charset="utf-8" />
    <title>四字熟語電脳遊戯</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h2 id="difficulty">第{{ difficulty }}層</h2>
      <div id="message" v-if='server_message != ""'>{{ server_message }}</div>
      <div id="columns">
        <transition-group id="table" tag="div" name="swap">
          <div
            v-for="(char, index) in board.value"
            scope="row"
            class="cell"
            :key="char.id"
            :data-col-id="index"
            v-bind:style="index in styles ? styles[index] : null"
            v-on:click="click_char"
            v-bind:class="{ selected: !(selected === null) && selected == index || index in touching
              , finished: char.finished
              , spacer: index % 8 == 3 }"
          >
            {{ char.char }}
          </div>
        </transition-group>
        <ul id="players">
          <li
            v-for="(player, name) in players.value"
            v-bind:style="{ borderColor: player.color }"
            class="player"
          >
            <input
              class="name"
              v-if="player.id == my_id.toString()"
              type="text"
              placeholder="名前入力"
              v-model="my_name"
            />
            <div v-else class="name">{{ name }}</div>
            <div class="score">
              {{ name in scoreboard ? scoreboard[name] : 0 }}
            </div>
          </li>
          <li
            v-for="(score, name) in scoreboard.value"
            v-if="!(name in players)"
            class="player"
          >
            <div class="name">{{ name }}</div>
            <div class="score">{{ score }}</div>
          </li>
        </ul>
      </div>
      音量調節 <input type="range" min="0" max="10" v-model="volume" />
      <div>
        <h2>更新記録</h2>
        <ul>
          <li>二月四日 午の刻 - 詰みを防ぐ仕組みを改良しました</li>
          <li>二月三日 酉の刻 - 配置を二列にしました</li>
          <li>
            二月三日 酉の刻 - 詰みになりうる問題が生成されにくくなりました
          </li>
          <li>二月三日 酉の刻 - 点数が保存されるようになりました</li>
          <li>
            二月三日 酉の刻 -
            選手が触れていた場所の枠線が消えない不具合を修正しました
          </li>
        </ul>
      </div>
      <div v-if="error !== null" id="error">{{ error }}</div>
      <footer>
        <!-- Place this tag where you want the button to render. -->
        <a
          class="github-button"
          href="https://github.com/rampaging-fridge/yojijukugo"
          data-icon="octicon-star"
          aria-label="Star rampaging-fridge/yojijukugo on GitHub"
          >星</a
        >
      </footer>
    </div>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <audio src="/static/cymbal.mp3" id="a-cymbal"></audio>
    <audio src="/static/dora.mp3" id="a-dora"></audio>
    <audio src="/static/rei.mp3" id="a-rei"></audio>
    <audio src="/static/bell.mp3" id="a-bell"></audio>
    <audio src="/static/hihat.mp3" id="a-hihat"></audio>
    <audio src="/static/reverse-hihat.mp3" id="a-reverse-hihat"></audio>
    <audio src="/static/somebody-scream.mp3" id="a-somebody-scream"></audio>
    <script>
      let scheme = location.protocol === "https:" ? "wss://" : "ws://";
      let ws = new WebSocket(scheme + location.host + location.pathname);

      // rewrite in vue 3:
      const { createApp, ref, reactive, watch } = Vue;

      createApp({
        setup() {
          const board = reactive({});
          const scoreboard = reactive({});
          const selected = ref(null);
          const my_id = ref(null);
          const my_name = ref(null);
          const me = ref(null);
          const styles = reactive({});
          const players = reactive({});
          const players_by_id = reactive({});
          const touching = reactive({});
          const difficulty = ref(0);
          const server_message = ref("");
          const volume = ref(5.0);
          const error = ref(null);

          watch(my_name, (val, oldVal) => {
            localStorage.set("player_name", val);
            ws.send(JSON.stringify({ SetPlayerName: val }));
          });
          watch(volume, (val, oldVal) => {
            for (elem of document.getElementsByTagName("audio")) {
              elem.volume = val / 10;
            }
            localStorage.set("volume", val);
            let sound = document.getElementById("a-rei");
            sound.currentTime = 0;
            sound.play();
          });

          function click_char(event) {
            let target = event.target.dataset.colId;
            if (board.value[target].finished) {
              return;
            }
            let style = { outlineColor: me.color };
            if (selected.value === null) {
              selected.value = target;
              Object.assign(styles, { [target]: style });
              ws.send(JSON.stringify({ Touch: parseInt(target) }));

              let sound = document.getElementById("a-hihat");
              sound.currentTime = 0;
              sound.play();
            } else {
              if (target === selected.value) {
                let sound = document.getElementById("a-reverse-hihat");
                sound.currentTime = 0;
                sound.play();
                ws.send(JSON.stringify({ Untouch: parseInt(target) }));
              } else {
                Object.assign(styles, { [target]: style });
                ws.send(
                  JSON.stringify({
                    Swap: [parseInt(target), parseInt(selected.value)],
                  }),
                );

                let sound = document.getElementById("a-rei");
                sound.currentTime = 0;
                sound.play();
              }

              selected.value = null;
            }
          }

          ws.addEventListener("message", (event) => {
            let obj = JSON.parse(event.data);
            if (obj === null) return;
            if ("PutBoard" in obj) {
              scoreboard.value = obj.PutBoard.scoreboard;
              difficulty.value = obj.PutBoard.boardDifficulty;
              styles.value = {};
              let jukugos = obj.PutBoard.jukugos;
              board.value = jukugos.flatMap(function (jukugo) {
                let result = jukugo[1].content;
                if (jukugo[1].finished) {
                  for (elem of result) {
                    elem.finished = true;
                  }
                }
                let sound = document.getElementById("a-bell");
                sound.currentTime = 0;
                sound.play();
                return result;
              });
            } else if ("PutPlayers" in obj) {
              let result = {};
              for (let elem of obj.PutPlayers) {
                elem[1].id = elem[0];
                result[elem[1].name] = elem[1];
              }
              players.value = result;

              for (let elem of obj.PutPlayers) {
                Object.assign(styles, { [elem[0]]: elem[1] });
              }
            } else if ("PutScoreboard" in obj) {
              scoreboard.value = obj.PutScoreboard;
            } else if ("PutYou" in obj) {
              my_id.value = obj.PutYou[0];
              me.value = obj.PutYou[1];
            } else if ("PutStatus" in obj) {
              server_message.value = obj.PutStatus;
            } else if ("LevelFinished" in obj) {
              let sound = document.getElementById("a-dora");
              sound.currentTime = 0;
              sound.play();
            } else if ("AckTouch" in obj) {
              let msg = obj.AckTouch;
              if (my_id.value === msg[0]) return;
              let style = { outlineColor: players_by_id.value[msg[0]].color };
              Object.assign(styles.value, { [msg[1]]: style });
              Object.assign(touching.value, { [msg[1]]: msg[0] });
            } else if ("AckUntouch" in obj) {
              let msg = obj.AckUntouch;
              let sender = msg[0];
              if (my_id.value === sender || !(msg[1] in touching.value)) return;
              if (sender == touching.value[msg[1]]) {
                app.$delete(touching.value, msg[1]);
              }
            } else if ("AckSwap" in obj) {
              let msg = obj.AckSwap;
              let orig = board.value[msg[1]];
              Object.assign(board.value, { [msg[1]]: board.value[msg[2]] });
              Object.assign(board.value, { [msg[2]]: orig });
              let style = { outlineColor: players_by_id.value[msg[0]].color };
              Object.assign(styles.value, { [msg[1]]: style });
              Object.assign(styles.value, { [msg[2]]: style });
              delete touching[msg[1]];
              delete touching[msg[2]];
              if (my_id.value !== msg[0]) {
                if (selected.value === msg[1]) {
                  selected.value = msg[2];
                }
                if (selected.value === msg[2]) {
                  selected.value = msg[1];
                }
              }
            } else if ("AckDone" in obj) {
              let row = obj.AckDone;
              for (let i = row * 4; i < row * 4 + 4; i++) {
                Object.assign(board.value[i], { finished: true });
              }
              if (
                board.value[row * 4].c == "三" &&
                board.value[row * 4 + 1].c == "倍" &&
                board.value[row * 4 + 2].c == "氷" &&
                board.value[row * 4 + 3].c == "菓"
              ) {
                let sound = document.getElementById("a-somebody-scream");
                sound.currentTime = 0;
                sound.play();
              } else {
                let sound = document.getElementById("a-cymbal");
                sound.currentTime = 0;
                sound.play();
              }
            } else {
              console.log(obj);
            }
          });

          return {
            board,
            scoreboard,
            selected,
            my_id,
            my_name,
            me,
            styles,
            players,
            players_by_id,
            touching,
            difficulty,
            server_message,
            volume,
            error,
            click_char,
          };
        },
      }).mount("#app");

      ws.addEventListener("open", (event) => {
        ws.send("hello");

        // my_name.value = localStorage.get("player_name");
        // volume.value = $cookies.get("volume") ?? 5;

        function heartbeat() {
          ws.send(JSON.stringify({ Heartbeat: [] }));
          window.setTimeout(heartbeat, 2000.0);
        }
        heartbeat();
      });
      ws.onerror = (event) => {
        error.value = event.message;
      };
    </script>
  </body>
</html>
