body {
  font-family: serif;
  text-align: center;
}
ul {
  text-align: left;
}
#app {
  margin: 2em auto 0em auto;
  width: 900px;
}

#table {
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
}

#message {
  width: 100%;
  animation: 3s ease-out slide;
  font-size: 5em;
  text-align: center;
}

@keyframes slide {
  from { letter-spacing: -1em; color: transparent; }
  to   { letter-spacing: 5em; color: black; }
}

#columns {
  width: 100%;
  display: flex;
}

#error {
  color: red;
}

@media (width >= 900px)
{
  #table {
    width: 600px;
  }
  .spacer {
    margin-right: 30px !important;
  }
}

@media (width < 900px)
{
  #table {
    width: 300px;
  }
}
.cell {
  width: 60px;
  height: 2em;
  background-color: #eeeeee;
  text-align: center;
  outline-width: 4px;
  margin: 4px;
  vertical-align: middle;
  line-height: 2em;
}
.cell:hover:not(.finished) {
  background-color: #f0dede;
}
.finished {
  background-color: #cae4ca;
}
.selected {
  outline-style: solid;
}
.swap-move {
  transition: transform 0.5s;
  outline-style: solid;
}
#players {
  list-style: none;
}
.player {
  height: 2em;
  background-color: #eeeeee;
  margin: 4px;
  border-style: solid;
  border-width: 4px;
  display: flex;
}
.player input {
  background-color: white;
  border: none;
}
.name {
  padding: 6px;
}
.score {
  margin-left: 4px;
  width: 3em;
  margin-right: none;
  text-align: right;
  padding: 6px;
}
#message {
  text-align: center;
  font-size: 1.5em;
}